body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('img/background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;
    overflow-y: hidden;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fullscreen::backdrop {
    background-image: url('img/background-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#myVideo {
    width: 720px;
    height: 480px;
}

.start-game img {
    width: 720px;
    height: 480px;

}

.start-game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-btn {
    background-color: black;
    color: yellow;
    border-radius: 15px;
    width: 150px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    height: 50px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    bottom: 35%;
}

.instruction-fullscreen {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 16px;
    width: 100%;
}

.endPic {
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.reStart {
    background-color: black;
    color: yellow;
    border-radius: 15px;
    width: 150px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    height: 30px;
    cursor: pointer;
    margin-top: 32px;
    position: absolute;
    z-index: 999;
    bottom: 25%;
}

.mobile-keys-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mobile-keys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.mobile-keys #panels {
    order: 1;
    /* Move the left and right buttons to the left side */
}

.mobile-keys #panels2 {
    order: 2;
    /* Move the jump and throw buttons to the right side */
}


.mobile-keys {
    display: flex !important;
    justify-content: space-between !important;

}

.mobile-movement {
    background-color: darkgoldenrod;
    border-radius: 100%;
    cursor: pointer;
}

.mobile-keys button {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.mobile-keys img {
    height: 25px;
}

.panels {
    display: flex;
}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.endPic {
    animation: mymove 5s infinite;

}

.left-arrow {
    display: flex;
    align-items: center;
    gap: 16px;
}

.left-arrow img {
    height: 32px;
    width: 32px;
}

.exit {
    display: flex;
    align-items: center;
    gap: 16px;
}

.exit img {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.sound-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.right-arrow {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-arrow img {
    height: 32px;
    width: 32px;
}

.instruction {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    gap: 32px;
}

.full {
    display: flex;
    align-items: center;
    gap: 16px;
}

.full img {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

canvas {
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px;
    display: block;
}

@keyframes mymove {
    50% {
        transform: rotateY(180deg);
    }
}

/* MOBILE ANSICHT  CANVAS*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .start-game {
        width: 100%;
        height: 100%;
    }

    .gameOver {
        width: 100%;
        height: 100%;
    }

    .d-none-buttons {
        display: block !important;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;

    }

    .d-none-buttons {
        display: block !important;
    }
}


@media only screen and (max-width: 480px) {
    .d-none-buttons {
        display: block !important;
    }
}

@media screen and (orientation:portrait) and (max-width: 800px) {
    .d-none-buttons {
        display: block !important;
    }

    .d-none-mobile {
        display: none;
    }
}

@media screen and (orientation:landscape) and (max-width: 896px) {
    .d-none-buttons {
        display: block !important;
    }

    .d-none-mobile {
        display: none;
    }

    .fullscreen {
        height: 100vh;
        width: 100%;

    }

    .gameOver {
        height: 90%;

    }

    .reStart {
        bottom: 10%;
    }
}

.d-none-buttons {
    display: none;
}

.d-none {
    display: none;
}