body {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*  background: url(img/EL\ Pollo\ loco.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: x-large;

}

.fullscreen {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#myVideo {
    width: 1080px;
    height: 720px;
}

canvas {
    background-color: black;
    display: block;
}


.start-game img {
    width: 720px;
    height: 480px;

}

.start-game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-btn {
    background-color: black;
    color: yellow;
    border-radius: 15px;
    width: 150px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    height: 50px;
    cursor: pointer;

}

.instruction-fullscreen {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 16px;
    width: 100%;
}



.endPic {
    width: 720px;
    height: 480px;
    border-radius: 15px;
}

.reStart {
    background-color: black;
    color: yellow;
    border-radius: 15px;
    width: 150px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    height: 30px;
    cursor: pointer;
    margin-top: 32px;

}

.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.endPic {
    animation: mymove 5s infinite;
}

.left-arrow {
    display: flex;
    align-items: center;
    gap: 16px;
}

.left-arrow img {
    height: 32px;
    width: 32px;
}

.right-arrow {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-arrow img {
    height: 32px;
    width: 32px;
}

.instruction {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    gap: 32px;
}

.full {
    display: flex;
    align-items: center;
    gap: 16px;
}

.full img {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

@keyframes mymove {
    50% {
        transform: rotateY(180deg);
    }
}


/* MOBILE ANSICHT  CANVAS*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }


}

/* MOBILE ANSICHT VIDEO */
@media only screen and (max-width: 1080px) {
    video {
        width: 100%;
    }


}

@media only screen and (max-height: 720px) {
    video {
        height: 100vh;
    }


}

@media only screen and (max-width: 720px) {
    #canvas {
        width: 100%;
    }

    #myVideo {
        width: 80%;
    }

    .fullscreen {
        width: 90%;
    }

    body {
        width: 90%;
        min-width: 100%;
        min-height: 100%;
    }

    .d-none-mobile {
        display: none;
    }

}















.d-none {
    display: none;
}